.header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: flex-start;
    align-items: center;
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
}

.profile {
    justify-self: flex-end;
}

.logo {
    justify-self: center;
}

.link {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: rgba(133, 133, 173, 1);
    text-decoration: none;
    transition: all 0.2s ease;
}

.link:hover {
    opacity: 0.8;
}

.link_active {
    color: rgba(242, 242, 243, 1);
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    justify-self: flex-start;
}
