.main_container {
    width: 100%;
    max-width: 600px;
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
    grid-gap: 32px 24px;
    margin: 0;
    list-style: none;
}

.ingredients_container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 720px;
}

.list_item {
    position: relative;
}

.price_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
}

.ingredients_container::-webkit-scrollbar {
    width: 8px;
    height: 664px;
    background-color: rgba(47, 47, 55, 1);
}

.ingredients_container::-webkit-scrollbar-thumb {
    height: 492px;
    background-color: rgba(133, 133, 173, 1);
}

.ingredients_container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(99, 99, 128);
}
